@model CourseViewModel

<html>

<div class="movieCard">
    <h1>@Model.CourseName</h1>
    <p>Price: @Model.Price</p>
    <p>Duration: @Model.Duration months</p>
    <p>@Model.Description</p>
</div>
</html>
