@model Post

<h4>Create new post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <input asp-for="Context" class="form-control" />
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <label asp-for="UserName" class="control-label required">UserName</label>

            <label asp-for="UserName" class="control-label required">UserName</label>
            <select asp-for="UserName" class="form-control">
                @foreach (var user in this.ViewBag.Users)
                {
                    <option value="@user.UserName">@user.UserName</option>
                }
            </select>

            <span asp-validation-for="UserId" class="text-danger"></span>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>