@model IEnumerable<PostViewModel>
@inject SignInManager<Models.Models.User> singInManager;

<html>
<head>
    @{ ViewData["Title"] = "Posts"; }

    <style>
        .container {
            display: inline-block;
        }

        .postCard {
            display: inline-block;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-height: 800px;
            max-width: 800px;
            margin-left: 25%;
            margin-top: 3%;
            font-family: arial;
        }

            .postCard:hover {
                transform: translateY(-30px);
            }

        .postCard {
            width: 600px;
            height: 300px;
        }

            .postCard h1, p {
                color: black;
            }
    </style>
</head>

<body>
    <a class="btn btn-outline-danger" asp-action="Create">Add new post</a>
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="postCard">
            <h1>Title: @item.UserName</h1>
            <h4>@item.Title</h4>
            <p>By:@item.Context</p>

            <a class="btn btn-primary" asp-controller="Post" asp-action="LeaveComment" asp-route-id="@item.PostId">Leave comment</a>
            <a class="btn btn-outline-dangerr" asp-controller="Post" asp-action="GetComments" asp-route-id="@item.PostId">Show me comments</a>
        </div>
        }
    </div>
</body>
</html>