@model TeacherViewModel

@{ ViewData["Title"] = $"Create teacher"; }

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1>Add new teacher</h1>
    </div>
</div>

<div class="row pt-5">
    <div class="mx-auto" style="width: 40%">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label">Second Name</label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label">Education</label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label">Experience</label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label">Salary</label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <br />
                <input class="font-weight-bold" asp-for="@Model.ImageFile" accept="image/*" />
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-danger w-50 mt-2" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>