@model GetAllTopCoursesViewModel

@{ ViewData["Title"] = "Top courses";

    int rank = 0; 
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary"  asp-controller="Course" asp-action="Index">Back to courses</a>
    </div>
    <h1>Top Courses</h1>
</div>
@if (Model.Courses.Count() == 0)
{
    <div class="pt-5 text-center">
        <h3 style="color: red">No courses available for display!</h3>
    </div> 
}
else
{
<div>
    <table class="topcourse-table">
        <tbody>
            <tr class="bg-secondary text-center">
                <th style="width: 75px">
                    Rank
                </th>
                <th style="width: 350px">
                    Title
                </th>
                <th style="width: 75px">
                    Votes
                </th>
            </tr>
            @foreach (var season in Model.Courses)
            {
                <tr class="topcourse-tr">
                    <td class="text-center" style="font-size: 28px">
                        @{ rank++; }
                        @rank
                    </td>
                    <td>
                        <div class="d-flex">
                            <div>
                                @if (season.ImageName == null)
                                {
                                    <img src="~/Img/default-image.png" style="width: 70px; height: 90px" /> }
                                else
                                {
                                    <img alt="Image not found" src="@("~/ImageForCourse/" + season.ImageName)" asp-append-version="true" style="width: 70px; height: 90px" />
                                }
                            </div>
                            <div class="pl-3">
                                <span style="font-size: large">@season.CourseName</span>
                                <br />
                                <br />
                                @season.StartDate
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        @season.Votes
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
}
