@model List<UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.StudentFirstName</td>
                <td>@item.StudentSecondName</td>
                <td>@item.StudentLastName</td>
            </tr>
        </tbody>
    }
</table>