@model IEnumerable<GradeViewModel>

<a class="btn btn-success mb-3" asp-controller="Grade" asp-action="Create">Create</a>
<div class="row">
    <div class="border d-flex flex-wrap justify-content-around p-3 col-md-10 messageDiv">
        @foreach (var item in Model)
        {
        <div class="border p-3 pr-4 message-width position-relative mb-2">
            <a class="position-absolute delete-icon"  asp-controller="Grade" asp-action="Delete" asp-route-id="@item.Id">
                <i class="text-danger far fa-trash-alt"></i>
            </a>
            <div class="">Grades: @item.StudentGrade</div>
        </div>
            }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/functions/deleteMessagesAsync.js" asp-append-version="true"></script>
}