@model CourseStudent

<h4>Save this course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LeaveComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            <select asp-for="CourseName" class="form-control">
                @foreach (var user in this.ViewBag.Courses)
                {
                    <option value="@user.CourseName">@user.CourseName</option>
                }
            </select>

            <span asp-validation-for="StudentId" class="text-danger"></span>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>