@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <!--banner section start -->
    <div style="background-color:blue" class="banner_section layout_padding">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="banner_taital_main">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 style="color:black;float:left;font-size:50px;font-weight:bold;">Online Academy</h1>
                                    <p style="color:black; float:left; font-size:16px;">
                                        This is an online academy where you can study very well.
                                        Choose what you want to study and contact us if you have any questions.
                                        We are always ready to answer old questions
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/images/img-1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner section end -->
    <!-- services section start -->
    <div class="services_section layout_padding">
        <div class="container">
            <h1 class="services_taital"><span style="color: #fcce2d">Our</span> Courses</h1>
            <div class="services_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_main">
                            <img src="images/js.png" class="image_8" style="width:100%">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image_main">
                            <img src="images/python.png" class="image_8" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_main">
                            <img src="images/Java.jpg" class="image_8" style="width:100%">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image_main">
                            <img src="images/CImage.png" class="image_8" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services section end -->
    <!-- about section start -->
    <div class="news_section layout_padding">
        <div class="container">
            <h1 class="news_taital">About Us</h1>
            <p class="news_text">
                This is the right place if you want to learn new things! Read more about us in our section About Us.
            </p>
            <div class="news_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="news_taital_box">
                            <h4 class="make_text">
                                Why choose us?
                            </h4>
                            <p class="lorem_text">
                                With us you will find understanding. If you have problems we help you. Our teachers are very good
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="images/img-6.png" class="image_6" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
    <!-- blog section start -->
    <div class="blog_section layout_padding">
        <div class="container">
            <h1 class="news_taital">Our Blog</h1>
            <p class="news_text">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="blog_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <img src="images/img-7.png" class="image_7" style="width:100%">
                    </div>
                    <div class="col-md-6">
                        <h4 class="classes_text">Best Classes and study</h4>
                        <p class="ipsum_text">
                            You have the opportunity to publish posts in our form when you have problems with a task.
                            You don't have to worry about asking something when you haven't figured it out
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog section end -->
</body>
</html>